block content
    section.about-zen
        .container
            .row-start
                .about-zen__img-block
                    img(src="./img/about-sticker.png" alt="sticker")
                .about-zen__content.zen-info
                    .zen-info__title.title Go all in on messaging
                    .zen-info__text.text.
                        Cue the confetti—Zendesk messaging is here to help deliver rich conversational experiences that are connected across your web, mobile and social apps. It’s easy to automate and fast to scale for every customer need—and it’s all part of our new Zendesk Suite.
                    .zen-info__buttons
                        a(href="#").underline Watch video
                        a(href="#").underline Get the details