block content
    section.advantages
        .container
            hr.line
            .advantages__content.row
                .advantages__text 
                    h1.title There’s more where </br> that came from
                .advantages__cases.row
                    .advantages__case
                        p.text.underline The complete guide to understanding </br> customer service
                        p.text.underline Zendesk update: staying safe and </br> working for you
                        p.text.underline 3 customer service metrics that matter
                        p.text.underline Most important customer service </br> objectives
                    .advantages__case
                        p.text.underline Understanding machine learning vs deep </br> learning
                        p.text.underline Transitioning to a remote workforce
                        p.text.underline The impact of COVID-19 on CX
                        p.text.underline 5 of the best knowledge management </br> examples
