block content
    section.awards
        .container
            .awards__cards.row
                .awards__card.border-b-red
                    .info-block
                        h3.text.subtitle CX Trends 2021
                        h2.title New world, new CX
                        p.text Last year, customer needs changed in a blink. Learn how your team can keep up.
                    .button-block
                        a(href="#").underline Read report
                .awards__card.border-b-blue
                    .info-block
                        h3.text.subtitle CX Champions
                        h2.title Speed + quality = agility
                        p.text How leading CX orgs support customer-centric processes and drive business agility.
                    .button-block
                        a(href="#").underline Read more
                .awards__card.border-b-orange
                    .info-block
                        h3.text.subtitle New product offering
                        h2.title Introducing the Zendesk Suite
                        p.text Our new all-in-one customer service solution is easy to use, convenient for customers, and scales with your business.
                    .button-block
                        a(href="#").underline Learn more
            .awards__main-place
                h1
                    p.title #1 in Digital Customer Service use case by
                    .awards__logo
                        img(src="./img/garther.svg")
