block content
    section.client-experience
        .container
            .client-experience__article
                .client-experience__title.title.
                    Where good conversations become great experiences
                .client-experience__text.text.
                    To make customers happy, you need conversational experiences&nbsp;—&nbsp;connected communication across any channel.
            .client-experience__about.about
                .about__links
                    a(href="#").link.text.underline Service
                    a(href="#").link.text.non-active Sales
            .client-experience__content.content
                .client-experience__left-block.left-block
                    h3.title Give customers the best support
                    p.text.
                        Customers want to connect any time, any place. Meet them where they are with the Zendesk Suite, which provides sophisticated, seamless support that flows across channels.
                    .mb
                        a(href="#").text.underline Learn more
                    .help
                        .wrapper
                            img(src="./img/squarespace.png" alt="squarespace").help-logo
                            p.text.
                                “We’re here to help our customers succeed online, and that’s something we hear back from our customers. They just love our support channels.”
                            p.text.
                                Raphael Fontes <br>Vice President of Customer Operations at Squarespace
                .client-experience__right-block.right-block
                    .first-img
                        img(src="./img/operator.png" alt="operator")
                    .second-img
                        img(src="./img/operator-dialog.png" alt="operator-dialog")