block content
    section.customize
        .container
            .customize__block
                .customize__title.title.
                    Customize your
                    <br>
                    customer experience
                .customize__text.text.
                    Glowing just under the surface of Zendesk is a powerful force that lets you connect and understand all of your customer data. Plus, it’s flexible and customizable, so you can adapt to anything thrown your way. Zendesk <br> Sunshine isn’t faster than a speeding bullet, but it’s close.
                .customize__buttons.row-start
                    .customize__learn   
                        a(href="#").text.underline Learn more
                    .customize__watch
                        a(href="#").text.underline Watch video
            