block content
    section.main-page
        .container
            .row
                .main-page__article
                    span
                        span.pink Champoins
                        br
                        span.white of 
                        span.underline.green customer
                        br
                        span.underline.blue service
                .main-page__about
                    .main-page__text.text
                        p.
                            Zendesk makes customer service better. We build software to meet customer needs, set your team up for success, and keep your business in sync.
                    .main-page__buttons
                        a(href="#").trial Free trial
                        a(href="#").demo View demo
