block content
    section.partners
        .container.row
            .partners__content
                h1.title The best customer experiences are </br>built with Zendesk
                p.text.info The companies you use, use Zendesk
                .partners__block.row
                    img.partners__logo(src="./img/mailchimp.svg")
                    img.partners__logo(src="./img/siemens.svg")
                    img.partners__logo(src="./img/stanley.svg")
                    img.partners__logo(src="./img/tesco.svg")
                    img.partners__logo(src="./img/knah.svg")
                    img.partners__logo(src="./img/uber.svg")
                a.partners__link.underline See all customer stories
            .partners__img-block
                img.partners__image.first-layer(src="./img/first-layer.png")            
                img.partners__image.second-layer(src="./img/second-layer.png")            
                img.partners__image.third-layer(src="./img/third-layer.png")            