block content
    section.trial
        .container
            .trial__title
                h2.title Champions of awesome free trials
            .trial__buttons
                .row
                    a.start-trial Start a free trial
                    a.view-demo View demo