block header
    header.header 
        .container
            .header__misc.misc
                nav.misc__nav
                    for i in ['Sign In', 'Product Support', 'Company', 'Contact Us', 'English']
                        a(href="#").misc__link=i
            .header__main-nav
                .header__logo
                    img(src="./img/logo.png" alt="page-logo")
                .header__nav.nav
                    nav
                        ul.nav__list
                            for i in ['Products', 'Pricing', 'Solutions', 'Demo', 'Services', 'Resources', 'Get started']
                                if i == 'Get Started'
                                    li.nav__item.get-started
                                        a(href="#")=i
                                else
                                    li.nav__item
                                        a(href="#")=i
