@import "../mixins/media";
@import "../../../node_modules/normalize.css/normalize";
@import '../other/zero';

body {
    font-family: Roboto, sans-serif;
    font-style: normal;
}
.container {
    max-width: 1090px;
    width: 100%;
    margin: 0 auto;
}
.underline {border-bottom: 2px solid #17494D;}
.text {
    text-align: start;
    font-size: 1.25rem;
    line-height: 28px;

    color: #17494D;            
}
.title {
    font-weight: bold;
    font-size: 31px;
    line-height: 40px;
    color: #03363D;
}
.non-active {color: #68737D;}
.row {display: flex; justify-content: space-between; align-items: center}
.row-start{display: flex; justify-content: start}
.pink {color: #CE9FB7;}
.green {color: #00A656;}
.blue {color: #30AABC;}
.white {color: #FFF}
a {color: white; font-size: 18px; line-height: 25px;}