extends ./common/layout
block content
    main
        include ./index/main-page
        include ./index/about-zen
        include ./index/client-experience
        include ./index/customize
        include ./index/awards
        include ./index/our-partners
        include ./index/advantages
        include ./index/start-trial
    script(src="./script/bundle.js") 
