.about-zen {
    background: #FED6A8;
    height: 403px;
    padding-top: 29px;

    &__content {
        max-width: 411px;
        width: 100%;

        .zen-info {
            &__title {
                margin-top: 36px;
                margin-bottom: 26px;
            }

            &__text {
                font-size: 16px;
                line-height: 24px;

                margin-bottom: 46px;
            }

            &__buttons {
                font-size: 18px;
                line-height: 27px;

                a {
                    color : #03363D;
                    margin-right: 16px;

                    border-bottom: 2px solid #03363D;
                }
            }
        }
    }

    &__img-block {
        position: relative;
        z-index: 3;

        max-width: 577px;
        height: 430px;
        width: 100%;

        background:
        url('../img/about-dialog.png') no-repeat left top,
        url('../img/about-bg.png') no-repeat center top 35%;

        img {
            position: absolute;
            left: -50px;
            top: -20%;
        }
    }
}