@import "../mixins/border-b.scss";

.awards {
    .row {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .border-b-red {
        @include border-b(#7D3D54);
    }
    .border-b-blue {
        @include border-b(#3D8DAE);
    }
    .border-b-orange {
        @include border-b(#C38F00);
    }

    &__card {
        background: #F8F9F9;

        height: 336px;
        padding: 32px 35px 42px 31px;

        flex: 0 0 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        

        .subtitle {
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            
            letter-spacing: 2px;
            text-transform: uppercase;

            margin-bottom: 8px;
        }

        .title {
            font-size: 24px;
            line-height: 32px;
            
            color: #03363D;

            margin-bottom: 26px;
        }

        .text {
            font-size: 15px;
            line-height: 24px;
            
            color: #17494D;
        }

        .button-block a {
            font-size: 16px;
            line-height: 24px;
            color: #03363D;
        }
    }

    &__cards {
        margin-bottom: 72px;
    }

    &__main-place {
        background: #D6EEF2;
        box-shadow: 0px 8px 24px rgba(104, 115, 125, 0.15);

        padding: 48px 227px 48px 247px;
        margin-bottom: 64px;

        .title {
            font-size: 32px;
            line-height: 40px;
            width: 700px;

            margin-bottom: 24px;
        }
    }

    &__logo {
        display: flex;
        justify-content: center;
    }
}