.client-experience {
    margin-top: 108px;
    margin-bottom: 272px;

    .link {
        padding: 0 5px;
    }

    &__title {
        font-size: 48px;
        line-height: 56px;
        text-align: center;

        max-width: 576px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 24px;
    }

    &__text {
        font-size: 20px;
        line-height: 28px;
        text-align: center;

        max-width: 610px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 33px;
    }

    &__about {
        .about__links {
            display: flex;
            justify-content: center;

            margin-bottom: 50px;
        }
        a:not(:last-child) {
            margin-right: 54px;
        }
    }

    &__content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;


        .left-block {
            max-width: 358px;
            width: 100%;

            h3 {
                margin-bottom: 22px;
            }

            p {
                margin-bottom: 30px;
            }

            .mb {
                margin-bottom: 66px;
            }

            .help {
                display: flex;
                img {
                    margin-bottom: 26px;
                }

                p {
                    font-weight: 300;
                }

                &::before {
                    content: '';
                    display: flex;
                    
                    margin-right: 30px;
                    height: 285px;
                    width: 10px;
                    background: #C2C8CC;
                }
            }
        }

        .right-block {
            position: relative;
            display: flex;

            .first-img {
                z-index: -1;
            }

            .second-img {
                position: absolute;
                left: -100px;
                bottom: -120px;
            }
        }
    }
}