.misc {
    display: flex;
    justify-content: flex-end;  

    margin-bottom: 13px;
    transition: all .1s;

    &__nav {
        display: flex;

        a {
            font-size: 12px;
            line-height: 18px;
    
            color: #17494D;
        }
    }

    &__link:not(:last-child) {
        margin-right: 12px;
    }
}