.nav {
    &__list {
        display: flex;

        a {
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            
            color: #03363D;    
    
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    &__item:not(:last-child) {
        margin-right: 59px;
    }

    .get-started {
        margin-left: -16px;
        
        a {
            padding: 10px 32px;
            padding-bottom: 12px;
            background-color: #17494D;
            border: 2px solid #17494D;
            border-radius: 0px;

            color: white;
        }
    }
}