.partners {
    margin-top: 64px;
    background-color: #F8F9F9;
    padding-top: 118px;
    padding-bottom: 31px;
    
    .title {
        font-size: 47px;    
        line-height: 56px;
    }

    &__link {
        display: inline-block;
        margin-top: 57px;
        color: #03363D;
    }
    
    &__content {
        max-width: 457px;
        height: 558px;
    }

    &__block {
        flex-wrap: wrap;
        justify-content: stretch;
    }

    &__logo {
        &:not(:nth-child(3n)) {
            margin-right: 48px;
        }
        &:nth-child(-n + 3) {
            margin-bottom: 57px;
        }
        flex: 0 0 115px;
    }
    
    &__img-block {
        position: relative;
        width: 533px;
        height: 638px;
    }
    &__image {
        position: absolute;
        &.first-layer {
            width: 159px;
            height: 206px;
            left: 317px;
            top: 23.61px;
            z-index: 4;
        }
        &.second-layer {
            width: 317px;
            height: 411px;
            left: 35px;
            top: 83.61px;
            z-index: 3;
        }
        &.third-layer {
            width: 263px;
            height: 342px;
            left: 265px;
            top: 241.61px;
            z-index: 2;
        }

    }

}